// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bg-cream {
  background-color: #FFF3CA;
}

.bg-brown {
  background-color: #5C4F56;
}

.text-cream {
  color: #FFF3CA;
}

.text-brown {
  color: #5C4F56;
}