<div class="form-group mt-auto mb-0">
  <%= form_with model: comment, url: post_comments_path(post), local: true, class: "input-group" do |f| %>
    <!--エラーメッセージ-->
    <%= render 'layouts/error_messages', model: f.object %>
    <%#= f.hidden_field :post_id, value: post.id %>
    <%= f.text_area :content, rows: 1, placeholder: "コメントをここに",class: "form-control" %>
    <%= f.submit "送信する", class: "btn btn-primary" %>
  <% end %>
</div>
