<div class="comments">
  <% if post.comments.present? %>
    <p>コメント件数：<%= post.comments.count %></p>
    <% post.comments.each do |comment| %>
      <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.user.nickname %><%= comment.content %><br>
    <% end %>
  <% else %>
    <p>コメントはまだありません</p>
  <% end %>
</div>
