<div class="main-visual">
  <h1 class="main-visual-head">あなたの毎日に猫の手を</h1>
  <p class="main-visual-text">
    HogoNyanは猫が好きな方と保護猫を繋ぐサイトです。<br>
    投稿を見て、里親になりたい方が増え、少しでも多くの人と猫が<br>
    幸せになることを願って活動しています。
  </p>
</div>
<div class="container my-5">
  <div class="row d-flex justify-content-center my-4">
    <h4>ご利用ガイド</h4>
  </div>
  <div class="row d-flex justify-content-center my-4">
    <h5>里親になりたい方</h5>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-2 mx-1 shadow mb-2">
      <p class="d-flex justify-content-center">Step1</p>
      <p class="d-flex justify-content-center">見る</p>
      <p class="item-text">
        当サイトで里親になった方の投稿で、
        ねこちゃんの様子を見て、お迎え後のイメージを持ちましょう。
        もちろんねこちゃんを見るだけで癒されることもできます。
      </p>
    </div>
    <div class="col-md-2 mx-1 shadow mb-2">
      <p class="d-flex justify-content-center">Step2</p>
      <p class="d-flex justify-content-center">探す</p>
      <p class="item-text">
        実際に里親としてお迎えしたいねこちゃんを探してみましょう。
        会員登録（無料）をすることで、投稿や募集をお気に入り登録する事ができます。
      </p>
    </div>
    <div class="col-md-2 mx-1 shadow mb-2">
      <p class="d-flex justify-content-center">Step3</p>
      <p class="d-flex justify-content-center">お問い合わせ</p>
      <p class="item-text">
        応募者情報（住所、連絡先）を入力して、募集詳細ページからお問い合わせをしましょう。
        募集者からメッセージが届くので、詳細をやりとりしましょう。
      </p>
    </div>
    <div class="col-md-2 mx-1 shadow mb-2">
      <p class="d-flex justify-content-center">Step4</p>
      <p class="d-flex justify-content-center">見学・お迎え</p>
      <p class="item-text">
        実際にねこちゃんに会いに行き、お迎えの準備をしましょう。
        その後、飼育環境などの確認を行い、条件が合えば無事に家族に迎え入れる事ができます。
      </p>
    </div>
    <div class="col-md-2 mx-1 shadow mb-2">
      <p class="d-flex justify-content-center">Step5</p>
      <p class="d-flex justify-content-center">発信</p>
      <p class="item-text">
        お迎え後の様子を投稿して発信しましょう。
        発信することで新たに里親になりたい人が増え、保護活動の輪を広げていきましょう。
      </p>
    </div>
  </div>
  <div class="row d-flex justify-content-center my-4">
    <h5>里親を募集したい方</h5>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-2 mx-1 shadow mb-2">
      <p class="d-flex justify-content-center">Step1</p>
      <p class="d-flex justify-content-center">募集</p>
      <p class="item-text">
        会員登録し、その後会員情報の編集してください。
        募集者マイページから、募集者情報の登録をしてください。
        里親募集したい猫ちゃんの情報を登録しましょう。
        できるだけ細かい情報を掲載するのが望ましいです。
      </p>
    </div>
    <div class="col-md-2 mx-1 shadow mb-2">
      <p class="d-flex justify-content-center">Step2</p>
      <p class="d-flex justify-content-center">お問い合わせ</p>
      <p class="item-text">
        里親希望者から来たお問い合わせへの返信をしましょう。
        希望条件などの詳細を確認して条件が合えば見学の日程、場所を決めてください。
      </p>
    </div>
    <div class="col-md-2 mx-1 shadow mb-2">
      <p class="d-flex justify-content-center">Step3</p>
      <p class="d-flex justify-content-center">見学</p>
      <p class="item-text">
        見学に来た希望者の対応をしましょう。
        希望者の最終確認を行ってください。
        見学後、引き取らずに検討される場合、募集情報を「検討中」に変更してください。
      </p>
    </div>
    <div class="col-md-2 mx-1 shadow mb-2">
      <p class="d-flex justify-content-center">Step4</p>
      <p class="d-flex justify-content-center">お見送り</p>
      <p class="item-text">
        ねこちゃんのお見送りをしましょう。
        その後、募集情報を「里親決定済」に変更してください。
      </p>
    </div>
    <div class="col-md-2 mx-1 shadow mb-2">
      <p class="d-flex justify-content-center">Step5</p>
      <p class="d-flex justify-content-center">見守り</p>
      <p class="item-text">
        里親家族の投稿を見て猫ちゃんのその後の様子を見守ってあげてください。
      </p>
    </div>
  </div>
</div>
