<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-5 text-cream">猫の未来をあなたと共に</h2>
    <p class="lead text-white">これは単純なヒーローユニット、注目のコンテンツや情報に特別な注意を喚起するためのシンプルなジャンボトロンスタイルのコンポーネントです。</p>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button">もっと学ぼう</a>
  </div>
</div>
<div class="container">
  <h1>ブランド</h1>
  <p>ココにサイトの文章が入ります。</p>
</div><!-- /.container -->