<div class="container-fluid">
  <%= render 'form', p: @p %>
  <div class="row">
    <div class="col-9 mx-auto d-flex">
      <h3>検索結果一覧</h3><h4>(全<%= @results.count %>)件</h4>
    </div>
  </div>
  <%= render 'index', requests: @results %>
</div>